h1, h2, video {
    text-align: center;
    width: 100%;
}

video {
    height: 50px;
}

blockquote {
    border-left: 1px solid black;
    padding-left: 20px;
}

img {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}
