body {
    background-color: #EEEEEE;
    color: #444444;
    font-family: sans-serif;
}

h1, h2, video {
    text-align: center;
    width: 100%;
}

video {
    height: 50px;
}

blockquote {
    border-left: 1px solid black;
    padding-left: 20px;
}

img {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: .5s;
    opacity: .5;
}

img:hover {
    transition: .5s;
    opacity: 1;
}

a {
    color: #444444;
}
